*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: whitesmoke;
}

body{
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
background: linear-gradient(14deg, black 50%, darkred 50%);
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container h1{
    color: greenyellow;
    font-size: 50px;
}

ul li{
    list-style: none;
    margin-left: 15px;
}

.isSelected{
    color: aqua;
    text-shadow: 3px 3px 10px chartreuse;
    font-size: 40px;
}